<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
    <title>Bewcastle</title>
</head>
    
<body>
   {% include header.html %}
    
    <!-- Main Container for Left and Right Columns -->
    <div class="container">
        
    <div class="left">
        <a href="https://vcg.isti.cnr.it/activities/visionarycross/crosses/bewcastle.html" target="_blank" class="image-container">
          <img src="img/bewcastle.png" alt="Project Image" class="hover-image">
        <span class="hover-text">Visit 3D model</span>
    </a>
    </div>

        <!-- Right Section for Navigation and Project Info -->
        <div class="right">
            <nav class="navbar">
                <button onclick="location.href='home.html'">Home</button>
                <button onclick="location.href='ruthwell.html'">Ruthwell</button>
                <button onclick="location.href='bewcastle.html'">Bewcastle</button>
                <button onclick="location.href='brussels.html'">Brussels</button>
            </nav>
            <div class="info">
                <h1>Bewcastle Cross</h1>
                <p>This is a beta version of 
                    <a href="https://vcg.isti.cnr.it/activities/visionarycross/crosses/bewcastle.html" target="_blank">The Bewcastle Cross</a> published by the [ Visionary Cross project] by means of the [3DHOP viewer]. This edition is intended for use by students, teachers, and members of the public who are interested in exploring the cross and learning more about it. The final version will contain tools required for more advanced applications. Should you encounter any bugs, glitches, lack of functionality, or other problems on the website, please let us know immediately by writing an email to visionarycrossproject@gmail.com. Your help in this regard is greatly appreciated.</p>
                
                <p><strong>CREDITS</strong></p>
                <p>Project direction<br>
                Prof. Daniel Paul O'Donnell, University of Lethbridge<br>
                Prof. Roberto Rosselli Del Turco, University of Torino</p>
                
                <p><strong>ISTI research support</strong><br>
                Marco Callieri, CNR/ISTI</p>

                <p><strong>3DHOP customization</strong><br>
                Jurgen Memaj, University of Pisa</p>
            </div>
        </div>
    </div>
</body>
</html>
